doctype html
html
  head
    title Sign Up
    link( rel="stylesheet" href="stylesheets/index.css")
  body
    .forms-wraper
      form(method="POST" action="signup" id="signup-form")
        input(type="text" name="username")
        input(type="text" name="password")
        input(type="submit" value="Sign Up")
