doctype html
html
  head
    title Sign Up
    link( rel="stylesheet" href="stylesheets/index.css")
  body
    .forms-wraper
      form(method="POST" action="signup" id="signup-form")
        p.input
          sub User name
          input(type="text" name="username")
        p.input
          sub Password
          input(type="text" name="password")
        input#btt(type="submit" value="Sign Up")
