*{
    padding:0;
    margin:0;
}
body{
    /*background-image: url("../images/background.jpg");*/
    /*background-repeat: no-repeat;*/
    /*position: relative;*/
    /*background-attachment: fixed;*/
    /*-moz-background-size: cover; !* Firefox 3.6+ *!*/
    /*-webkit-background-size: cover; !* Safari 3.1+ и Chrome 4.0+ *!*/
    /*-o-background-size: cover; !* Opera 9.6+ *!*/
    /*background-size: cover;*/
}

.forms-wraper{
    width: 390px;
    margin: 0 auto;
    position: relative;
    margin-top: 18%;
    bottom: 0;
    left: 0;
    right: 0;
    padding-bottom: 12px;
    background-color: rgba(180,180,180, 0.5);
}

#login_form, #signup_form, #signin_form{
    margin: 0 auto;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    }
.forms-wraper form{
    margin: 0 auto;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
}
input{
    border-radius: 2px;
    /*float:right;*/
}
p sub{
    font-size: 22px;
    display:inline-table;
    margin-top: 10px;
    margin-bottom: 10px;

}

p{
    width:200px;
 /*   margin-top: 10px;
    margin-bottom: 10px;*/
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
}

.form-button, #btt{
    float: none;
    width: 100%;
    margin: auto;
    margin-top:15px;
    padding-top: 9px;
    padding-bottom: 9px;
    font-size: 14px;
    border: none;
    display: inline-block;
}
div form{
    margin: 0 auto;
    width:100px;
}
p input{
    font-size: 25px;
}

.input{
    width:100px;
}
.input input{
    float: left;
}